<!-- <div class="container-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
      <div class="card shadow">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <h4 class="text-danger text-muted">Welcome</h4>
            </div>
            <div class="mb-3">
              <p class="text-muted">Link has sent on your registred email. Please verify it</p>
            </div>
            <a class="text-dark" routerLink="/login">Login</a>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div> -->



<div class="verification">
  <div class="wrapper">
    <div class="email-icon">
      <i class="fa-regular fa-envelope-open"></i>
    </div>
    <h3>Thank You for Registering</h3>
    <h5>Please Verification Your Email</h5>
    <div class="formGroup">
      <p>You're almost there! We sent an Email to</p>
      <span>email@email.email</span>
    </div>
    <p>Just click on the link in that email to complete signup</p>
    <div class="resend-email">
      <p>If you don't see verfificaiton email</p>
      <button>
        <i class="fas fa-redo-alt"></i>
        Resend Email
      </button>
    </div>
    <div class="redirectToLogin">
      <span>Go back to?
        <span class="redirect mx-1" routerLink="/login"> Sign in</span>
        If you verification email actually
      </span>
    </div>
  </div>
</div>