<app-loading></app-loading>
<div id="tables">
  <div class="container-fluid">
    <div class="row">
      <div class="header d-flex justify-content-between align-items-center">
        <h2 class="m-0">table list</h2>
        <div class="btns" *ngIf="arrOfTables.length != null">
          <button class="first-partition-btn btn me-3 active" [disabled]="arrOfTables.length < 1"
            (click)="firstPartitionBtn()">First Partition</button>
          <button class="second-partition-btn btn me-3" [disabled]="arrOfTables.length < 7"
            (click)="secondPartitionBtn()">Second
            Partition</button>
          <button class="third-partition-btn btn" [disabled]="arrOfTables.length < 13"
            (click)="thirdPartitionBtn()">Third
            Partition</button>
          <button class="fourth-partition-btn btn" [disabled]="arrOfTables.length < 19"
            (click)="fourthPartitionBtn()">Fourth
            Partition</button>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-tables">
    <div class="toggle-wrapper">
      <div class="wrapper-one" #wrapperOne>
        <div class="row">
          <div class="col-xl-4 col-sm-6" *ngFor="let table of tableNumListOne">
            <div class="box mb-2" id="box">
              <div class="overlay" (mouseleave)="onMouseLeave()">
                <button class="btn mb-2" (click)="onInformation(table)">Information</button>
                <div class="controlBtn">
                  <button type="button" class="btn" (click)="onControl(table, $event)">Control</button>
                </div>
                <div class="input-group guests-input mb-3">
                  <input type="text" class="form-control" placeholder="Number Of Guests" aria-label="Number Of Guests"
                    aria-describedby="button-addon2" [(ngModel)]="numberOfGuests">
                  <button class="btn" type="button" id="button-addon2"
                    (click)="onSubmit(table, $event)">{{updateGuest?'Update':'Submit'}}</button>
                </div>
              </div>
              <div class="image">
                <img src="./../../../../assets/img/tables/table.svg" width="200" height="200" alt="table">
                <span class="table-num">T{{table}}</span>
              </div>
              <p class="available" *ngIf="arrOfAvailableTable.includes(table)">Available</p>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-two">
        <div class="row">
          <div class="col-md-4" *ngFor="let table of tableNumListTwo">
            <div class="box mb-2" id="box">
              <div class="overlay" (mouseleave)="onMouseLeave()">
                <button class="btn mb-2" (click)="onInformation(table)">Information</button>
                <div class="controlBtn">
                  <button type="button" class="btn" (click)="onControl(table, $event)">Control</button>
                </div>
                <div class="input-group guests-input mb-3">
                  <input type="text" class="form-control" placeholder="Number Of Guests" aria-label="Number Of Guests"
                    aria-describedby="button-addon2" [(ngModel)]="numberOfGuests">
                  <button class="btn" type="button" id="button-addon2" (click)="onSubmit(table, $event)">Submit</button>
                </div>
              </div>
              <div class="image">
                <img src="./../../../../assets/img/tables/table.svg" width="200" height="200" alt="table">
                <span class="table-num">T{{table}}</span>
              </div>
              <p class="available" *ngIf="arrOfAvailableTable.includes(table)">Available</p>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-three">
        <div class="row">
          <div class="col-md-4" *ngFor="let table of tableNumListThree">
            <div class="box mb-2" id="box">
              <div class="overlay" (mouseleave)="onMouseLeave()">
                <button class="btn mb-2" (click)="onInformation(table)">Information</button>
                <div class="controlBtn">
                  <button type="button" class="btn" (click)="onControl(table, $event)">Control</button>
                </div>
                <div class="input-group guests-input mb-3">
                  <input type="text" class="form-control" placeholder="Number Of Guests" aria-label="Number Of Guests"
                    aria-describedby="button-addon2" [(ngModel)]="numberOfGuests">
                  <button class="btn" type="button" id="button-addon2" (click)="onSubmit(table, $event)">Submit</button>
                </div>
              </div>
              <div class="image">
                <img src="./../../../../assets/img/tables/table.svg" width="200" height="200" alt="table">
                <span class="table-num">T{{table}}</span>
              </div>
              <p class="available" *ngIf="arrOfAvailableTable.includes(table)">Available</p>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-four">
        <div class="row">
          <div class="col-md-4" *ngFor="let table of tableNumListFour">
            <div class="box mb-2" id="box">
              <div class="overlay" (mouseleave)="onMouseLeave()">
                <button class="btn mb-2" (click)="onInformation(table)">Information</button>
                <div class="controlBtn">
                  <button type="button" class="btn" (click)="onControl(table, $event)">Control</button>
                </div>
                <div class="input-group guests-input mb-3">
                  <input type="text" class="form-control" placeholder="Number Of Guests" aria-label="Number Of Guests"
                    aria-describedby="button-addon2" [(ngModel)]="numberOfGuests">
                  <button class="btn" type="button" id="button-addon2" (click)="onSubmit(table, $event)">Submit</button>
                </div>
              </div>
              <div class="image">
                <img src="./../../../../assets/img/tables/table.svg" width="200" height="200" alt="table">
                <span class="table-num">T{{table}}</span>
              </div>
              <p class="available" *ngIf="arrOfAvailableTable.includes(table)">Available</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="guest-modal" data-modal="modal">
  <div class="wrapper-modal shadow-1">
    <i class="fa-solid fa-xmark close"></i>
    <div class="modal-header">
      <h5>Table 1</h5>
    </div>
    <div class="modal-content">
      <label for="guestNum">Number of guests</label>
      <input id="guestNum" type="number" class="form-control" placeholder="Plaese enter Number of guests"
        name="guestNum">
      <p class="text-danger">Please Enter Number Of Guest</p>
    </div>
    <div class="modal-footer">
      <button class="goToMenu btn">Go To Menu</button>
    </div>
  </div>
</div>