$blue: #3D8493;
$blue-50: #ECF3F5;
$blue-100: #B1CED4;
$blue-600: #2E636E;

$orange-100: #D89F65;
$orange-200: #A2774C;
$orange-300: #E8C5A3;

$green: #4A5C2F;
$green-100: #2C3832;
$green-300: #89928E;

$danger: #dc3545;
$danger-100: #b42f3c;

$muted-1: #89928E;
$muted-2: #D8DBD9;
$muted-3: #D9D9D9;
$muted-4: #FAFAFA;

$black: #000;

$border-1: 1px solid #ECEDED;
$border-dashed: 1px dashed #A9A9A9;

$box-shadow: 0 2rem 3rem rgba(123, 139, 200, 0.18);
$box-shadow-error: 0 0 0 0.25rem rgba(220, 53, 69, .25)